PORT=3001
DATABASE_URL=postgresql://user:password@localhost:5432/notifications_db
AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJwc25laGFkZWVwaWthMjAwNkBnbWFpbC5jb20iLCJleHAiOjE3NzgwNjQxMDMsImlhdCI6MTc3ODA2MzIwMywiaXNzIjoiQWZmb3JkIE1lZGljYWwgVGVjaG5vbG9naWVzIFByaXZhdGUgTGltaXRlZCIsImp0aSI6Ijg0M2E2OWNmLTVhOWYtNDJmZS1hOWFiLWMyZWE5NDZhZTU2NiIsImxvY2FsZSI6ImVuLUlOIiwibmFtZSI6InBhcmltaXNldHR5IHNuZWhhIGRlZXBpa2EiLCJzdWIiOiI2MjFmM2JjNi01Nzg4LTQyNmMtYjhmNy1lMmYyNzViYjcwYzkifSwiZW1haWwiOiJwc25laGFkZWVwaWthMjAwNkBnbWFpbC5jb20iLCJuYW1lIjoicGFyaW1pc2V0dHkgc25laGEgZGVlcGlrYSIsInJvbGxObyI6ImF2LnNjLnU0YWllMjMwMzQiLCJhY2Nlc3NDb2RlIjoiUFRCTW1RIiwiY2xpZW50SUQiOiI2MjFmM2JjNi01Nzg4LTQyNmMtYjhmNy1lMmYyNzViYjcwYzkiLCJjbGllbnRTZWNyZXQiOiJLS3diYmJZeGZnUUpHWmtGIn0.Wk5cDvr3LJbY3vLAi9jgG7JbY1qJpKpA1l0Tbfp_MlM
NOTIFICATION_API_URL=http://20.207.122.201/evaluation-service/notifications